html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.flex {
  display: flex;
}

.bgcolor {
  background-color: '#f5f5f5';
  background: '#f5f5f5';
}

.textPrimary {
  color: #9f9f9f;
}

.visuallyHiddenInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  width: 1;
}
